<div id="about" class="container">
  <div class="row">
    <div class="about-title-container col s12 m12 l12">
      <h1>About Us</h1>
    </div>
    
    <div class="about-text col s12 m5 l5">
      <p>
        We have what all audio lovers of every sort will love! From LP's and Digital to Tube's and Solid State, Nashville HiFi offers a plethora of options to build and create, 
        add on or piece meal, imagine or dream your ultimate HiFi stereo system!
      </p>
      <p>
        Part of what we do here is making people, both audiophiles and not, grin from ear to ear and say over and over "I never heard that before!"
        By combining carefully selected lines of products for their sound and build qualities here at Nashville HiFi we are able to reproduce music 
        the way the artist intended for it to sound. Not messed with by tweeters that sound like nails going down a chalkboard, or woofers in a 
        speaker that have you asking either "Where's the bass?" or "Can I have an Asprin?". Instead all you get is a crystal clear image that makes 
        you want more, and has you asking "Why didn't I hear this before?" Well, the answer is like and perfect combination you need the right ingredients, 
        Nashville HiFi can help you find what your looking for just give us a little insight into what kind of stuff you like, or come in sit down and 
        enjoy the hundreds of High Resolution (that would be above CD quality at bare minimum) music in our showroom!
      </p>
    </div>
    <div class="about-img col s12 m6 offset-m1 l6 offset-l1">
      <img class="responsive-img" src="assets/about-2.jpg" alt="Nashville HiFi">
    </div>
  </div>
</div>