<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<header class="home-bg">
  <div class="bg-text">
    <h1 class="main-text hide-on-large-only">
      HIGH FIDELITY AUDIO
    </h1>
    <div class="text hidden hide-on-med-and-down">
      <h1>HI</h1>
      <h1 class="ghost">G</h1>
      <h1 class="ghost">H</h1>
      <h1 class="spaced">FI</h1>
      <h1 class="ghost">D</h1>
      <h1 class="ghost">E</h1>
      <h1 class="ghost">L</h1>
      <h1 class="ghost">I</h1>
      <h1 class="ghost">T</h1>
      <h1 class="ghost">Y</h1>
      <h1 class="spaced ghost">A</h1>
      <h1 class="ghost">U</h1>
      <h1 class="ghost">D</h1>
      <h1 class="ghost">I</h1>
      <h1 class="ghost">O</h1>
    </div>
    <div class="subText hidden hide-on-med-and-down">
        <h4 class="ghost second-title">CRYSTAL CLEAR AUDIO TO THE DEGREE OF EXACTNESS</h4>
    </div>

  </div>
  <script>
    window.onload = $(function() {
      var text = $(".text");
      var subText = $(".subText ");
      setTimeout(function() {
          text.removeClass("hidden");
          subText.removeClass("hidden").css({"opacity":"1", "transition":"ease-in-out .5s"});
      }, 1500);
    //   $(window).scroll(function() {
    //     var scroll = $(window).scrollTop();

    //     if (scroll >= 200) {
    //       text.removeClass("hidden");
    //     } else {
    //       text.addClass("hidden");
    //     }
    //   });
    });
  </script>
</header>

<%= render partial: "home/about" %>
<%= render partial: "home/products" %>

