<header class="qa-bg">
  <div class="bg-text">
    <h1>Question & Answers</h1>
  </div>
</header>
<div id="qa-section" class="row">
  <div class="container">
    <div class="col s12">
      <ul class="collapsible qa-accordion">
        <li>
          <div class="collapsible-header qa-header"><i class="material-icons">home</i>Do we do home cinema?</div>
          <div class="collapsible-body qa-body"><span>Yes. However, our home cinema is based around making sure the end image and sound is beyond what most are used to from there standard walk-in stores or showrooms,
            so we do not actively display it, instead we build it to our clients special needs.</span>
          </div>
        </li>
        <li>
          <div class="collapsible-header qa-header"><i class="material-icons">place</i>Weren't you Premier Acoustic Lifestyles?</div>
          <div class="collapsible-body qa-body"><span>Absolutely! In most way we still are. We did a name change and reincorporation because the business was originally brought about in Florida so it was deemed necessary. 
            The name change, because some who did not know us, were confused as to what we did. Did we do car audio? No. Commercial acoustic ceilings? No. So on.</span>
          </div>
        </li>
        <li>
          <div class="collapsible-header qa-header"><i class="material-icons">room_service</i>How do I know your service is superior to say others that claim they are "high end" or "premium"?</div>
          <div class="collapsible-body qa-body"><span>Most of these places haven't been around as long as us and that's 14 years going strong. Also, we have one of the best reputations with our customers.
            Need a feel for how we are? Ask and we'll give plenty of references! Quality HiFi stereo is becoming almost impossible to find, and then the so called "professionals" 
            that claim they know all about it just want to sell you a box and get you out of the door, how rude! Thats where we come in. Nashville HiFi treats each person with the dignity they deserve! 
            We want to make sure you get the absolute best product for the money, and sometimes that requires multiple visits. Did you know we on occasion lend out products so people can hear them in their 
            own home before buying them? You've got to be comfortable with your purchase, so we at times have lent out the products.</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>