@import "font-awesome";
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700i');
$black-grey: color("grey", "darken-4") !default;
$white: #fff;
$blue: #55c3d0;


//transition mixin
@mixin transition($transition...) {
  -moz-transition:    $transition !important;
  -o-transition:      $transition !important;
  -webkit-transition: $transition !important;
  transition:         $transition !important;
}

@-webkit-keyframes color-fade {
  0% { border-bottom-color: #9074cd; }
  25% { border-bottom-color: #fffc0c; }
  50% { border-bottom-color: #0098e4; }
  75% { border-bottom-color: #33d997; }
  100% { border-bottom-color: #7606ff; }
}

@-moz-keyframes color-fade {
  0% { border-bottom-color: #9074cd; }
  25% { border-bottom-color: #fffc0c; }
  50% { border-bottom-color: #0098e4; }
  75% { border-bottom-color: #33d997; }
  100% { border-bottom-color: #7606ff; }
}

@keyframes color-fade {
  0% { border-bottom-color: #9074cd; }
  25% { border-bottom-color: #fffc0c; }
  50% { border-bottom-color: #0098e4; }
  75% { border-bottom-color: #33d997; }
  100% { border-bottom-color: #7606ff; }
}

@-webkit-keyframes top-color-fade {
  0% { border-top-color: #9074cd; }
  25% { border-top-color: #fffc0c; }
  50% { border-top-color: #0098e4; }
  75% { border-top-color: #33d997; }
  100% { border-top-color: #7606ff; }
}

@-moz-keyframes top-color-fade {
  0% { border-top-color: #9074cd; }
  25% { border-top-color: #fffc0c; }
  50% { border-top-color: #0098e4; }
  75% { border-top-color: #33d997; }
  100% { border-top-color: #7606ff; }
}

@keyframes top-color-fade {
  0% { border-top-color: #9074cd; }
  25% { border-top-color: #fffc0c; }
  50% { border-top-color: #0098e4; }
  75% { border-top-color: #33d997; }
  100% { border-top-color: #7606ff; }
}


//nav
@keyframes nav-links-hover {
  0% { background: #9074cd; }
  25% { background: #fffc0c; }
  50% { background: #0098e4; }
  75% { background: #33d997; }
  100% { background: #7606ff; }
}

@-webkit-keyframes nav-links-hover {
  0% { background: #9074cd; }
  25% { background: #fffc0c; }
  50% { background: #0098e4; }
  75% { background: #33d997; }
  100% { background: #7606ff; }
}

@-moz-keyframes nav-links-hover {
  0% { background: #9074cd; }
  25% { background: #fffc0c; }
  50% { background: #0098e4; }
  75% { background: #33d997; }
  100% { background: #7606ff; }
}

// Mobile menu icon

@keyframes mobile-menu-color {
  0% { color: #9074cd; }
  25% { color: #fffc0c; }
  50% { color: #0098e4; }
  75% { color: #33d997; }
  100% { color: #7606ff; }
}

@-webkit-keyframes mobile-menu-color {
  0% { color: #9074cd; }
  25% { color: #fffc0c; }
  50% { color: #0098e4; }
  75% { color: #33d997; }
  100% { color: #7606ff; }
}

@-moz-keyframes mobile-menu-color {
  0% { color: #9074cd; }
  25% { color: #fffc0c; }
  50% { color: #0098e4; }
  75% { color: #33d997; }
  100% { color: #7606ff; }
}
