/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "all";
 @import 'slick';
 @import 'slick-theme';


 .center-column{
  float: none !important;
  margin: 0 auto !important;
}
.no-padding{
  padding: 0px;
}

body{
  font-family: 'Muli', sans-serif;
}

nav {
  background-color: $black-grey;
  border-bottom: 4px solid;
  -webkit-animation: color-fade 10s infinite;
  -moz-animation: color-fade 10s infinite;
  animation: color-fade 10s infinite;
  ul li a{
    @include transition(all, .3s);
    &:hover{
      @include transition(all, .3s);
      background: $blue;
    }
  }
}

.btn-blue{
  background: $blue;
}

#notice-wrapper{
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1050;
  background: $blue;
  p{
    padding: 1.5rem 0;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
  }
}

.main-text{
  font-size: 35px;
}

// Mobile Menu Styles

a.sidenav-trigger{
  i{
    font-size: 35px;
    -webkit-animation: mobile-menu-color 10s infinite;
    -moz-animation: mobile-menu-color 10s infinite;
    animation: mobile-menu-color 10s infinite;
  }
}

ul#slide-out.sidenav{
  background: $black-grey;
  color: #fff;
  li a{
    color: #fff;
    font-weight: bold;
    i{
      color: #fff;
    }
  }
  li{
    @include transition(all, .4s);
    &:hover{
      @include transition(all, .4s);
      -webkit-animation: nav-links-hover 10s infinite;
      -moz-animation: nav-links-hover 10s infinite;
      animation: nav-links-hover 10s infinite;
    }
  }
}