// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "all";

header.contact-bg{
  background-image: url('/assets/contact-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 70vh;
  color: #fff;
  div.bg-text {
    padding-top: 25vh;
    h1, H4 {
      color: #fff;
      text-align: center;
      letter-spacing: 12px;
    }
  }
}
#contact-section{
  margin-top: 3%;
  margin-bottom: 3%;
}

// Mobile

@media (max-width: 992px) {
  header.contact-bg{
    background-attachment: scroll;
  }
}